.custom-card {
  position: absolute;
  left: 100px;
  top: 100px;
  display: flex;
  padding: 10px;
  background: rgba(0,0,0, 0.5);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.resizer {
  position: absolute;
  width:10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  z-index: 2;
}
.resizer.nw{
  top:-1px;
  left:-1px;
  cursor: nw-resize;
}
.resizer.ne{
  top:-1px;
  right: -1px;
  cursor: ne-resize;
}
.resizer.sw{
  bottom: -1px;
  left: -1px;
  cursor: sw-resize;
}
.resizer.se{
  bottom: -1px;
  right: -1px;
  cursor: se-resize;
}

